.home-content {
    width: 100%;
    min-width: 1200px;
    margin-top: 40px;
    margin-bottom: 200px;
}

.home-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

.home-area .ranking {
    margin-top: 100px;
}

.ranking .rank {
    margin-right: 30px;
}

.ranking ul {
    width: 100%;
    margin-top: 50px;
}

.ranking li {
    display: flex;
    list-style: none;
    margin-top: 15px;
}

.ranking a {
    color: black;
    text-decoration: none;
}