.home-content {
    width: 100%;
    min-width: 1200px;
    margin-top: 40px;
    margin-bottom: 200px;
}

.home-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: auto;
    width: 100%;
}

.home-area .ranking {
    margin-top: 100px;
}

.ranking .rank {
    margin: 20px;
}

.ranking ul {
    margin-top: 50px;
    padding-left: 0;
}

.ranking li {
    display: flex;
    height: 50px;
    align-items: center;
    list-style: none;
    font-size: larger;
}

.ranking li:hover {
    border-radius: 3px;
    background: rgb(240, 240, 240);
    transition: all 0.2s ease-out;
}

.ranking a {
    color: black;
    text-decoration: none;
}

.ranking a:hover {
    color: black;
}

.topten{
    color: rgb(68,145,44);
    font-weight:bold;
}