.NavbarItems {
    /* background: linear-gradient(90deg, rgb(225, 255, 226), rgb(95, 255, 103)); */
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    border: 1px solid rgb(204, 204, 204);
    margin-bottom: 50px;
}

.NavbarLogo {
    justify-self: start;
    margin-right: 10rem;
}

.logo {
    width: 15rem;
}

.my-nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    list-style: none;
    text-align: center;
    width: 50vw;
    justify-content: end;
    margin-right: 3rem;
    margin-bottom: 0;
}

.my-nav-link {
    color: black;
    margin-top: 1rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.my-nav-link-mobile {
    display: none;
}

.my-nav-link:hover {
    /* background-color: rgb(75, 255, 90); */
    border-radius: 4px;
    color: black;
    transition: all 0.2s ease-out;
}

.fa-bars {
    font-size: 1.5rem;
}

.fa-times {
    font-size: 1.5rem;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 960px) {
    .NavbarItems {
        position: relative;
    }

    .my-nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 100%;
        height: 400px;
        position: absolute;
        top: 70px;
        left: 100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .my-nav-menu.active {
        /* background: rgb(140, 255, 146); */
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .my-nav-link {
        margin-top: auto;
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .my-nav-link:hover {
        /* background: rgb(213, 252, 215); */
        border-radius: 0;
    }

    .NavbarLogo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(5%, 75%);
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 30%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times {
        font-size: 1.9rem;
    }

    .my-nav-link-mobile {
        display: block;
        text-align: center;
        text-decoration: none;
        padding: 1.5rem;
        margin: 2rem auto;
        border-radius: 4px;
        width: 25%;
        /* background: rgb(68, 253, 77); */
        color: black;
        font-size: 1rem;
    }

    .my-nav-link-mobile:hover {
        background: white;
        text-decoration: none;
        /* color: rgb(0, 255, 170); */
        transition: 250ms;
    }

    .menu-btn {
        display: none;
    }
}